@using AgileDevelopmentPlatform.ViewModel.Reports
@model SprintStatusReportViewModel


<row>
    <div class="col-md-8">
        <h2>Sprint status report: @Model.Name </h2>
    </div>
    <div class="col-md-4">
        <h2>Target date: @Model.TargetDate</h2>
    </div>
  
</row>

@if (!Model.HideGenerate)
{
    <div style="float: right">
        @Html.ActionLink(" ", "PrintSprintStatusReport", "Projects", new { sprintId = Model.Id}, new {@class= "btn  glyphicon glyphicon-download-alt"})
    </div>
 
}

<div>
    @if(@Model.TaskStatusList.Count>0){
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="col-md-2">Name</th>
            <th class="col-md-2">Responsible user</th>
            <th class="col-md-2">Dificulty</th>
            <th class="col-md-2">Effort estimation(h)</th>
            <th class="col-md-2">Actual work effort(h)</th>
            <th class="col-md-2">Task state</th>
        </tr>
        </thead>
        <tbody>

        @foreach (TaskStatusReportViewModel taskStatus in @Model.TaskStatusList)
        {
            <tr>
                <td>@taskStatus.Name</td>
                <td> @taskStatus.ResponsibleUser </td>
                <td> @taskStatus.Dificulty </td>
                <td> @taskStatus.EffortEstimation </td>
                <td> @taskStatus.WorkEffort </td>
                <td> @taskStatus.Status </td>
            </tr>
        }
        <tr>
            <td>Total</td>
            <td> </td>
            <td> </td>
            <td> @Model.OverallEffortEstimation </td>
            <td> @Model.OverallWorkEffort </td>
            <td> @Model.PercentageOfCompletion % Completed </td>
        </tr>
        </tbody>
    </table>
    }else{
    <text>No tasks have been assigned to this project yet.</text>
    }
   
</div>
