@using AgileDevelopmentPlatform.ViewModel.Reports
@model TopContributorsReportViewModel


@if (!@Model.HideGenerate)
{
    <row>
        <div><h2>Top contribution ranking:</h2></div>
        <div style="float: right">
            @Html.ActionLink(" ", "PrintTopContributorsReport", "Projects"
                , new {@class = "btn", projectId = Model.ProjectId}, new {@class = "btn  glyphicon glyphicon-download-alt"})
        </div>
    </row>

}
else
{
    <h2>@Model.ProjectName top contribution ranking: </h2>
}

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-md-6">Name</th>
                <th class="col-md-3">Contribution points</th>
                <th class="col-md-3">Contribution percentage %</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserContributionViewModel userContributionviewModel in @Model.UserContributionList)
            {
                <tr>
                    <td>@userContributionviewModel.Name</td>
                    <td> @userContributionviewModel.ContributionPoints </td>
                    <td> @userContributionviewModel.ContributionPercentage </td>
                </tr>
            }
        </tbody>
    </table>
</div>

