
@using AgileDevelopmentPlatform.ViewModel
@model ProjectAccessViewModel


<h2>Access Management </h2>
<div class="row">
    <div class=" col-md-10"><h2>@Model.ProjectName </h2></div>
    <div class=" col-md-2">
        <br/>
        <button class="btn btn-success hover" onclick="AddNewUser()">Add user</button>
    </div>

</div>
<br/>
@if (@Model.GrantedAccessList.Any())
{

    <table id="UserAccessTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-md-10">User</th>
                <th col="col-md-2">Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserSelectViewModel user in Model.GrantedAccessList)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td> <button data-user-id="@user.Id" class="btn btn-danger glyphicon glyphicon-trash" onclick="RemoveUser(this)"></button></td>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <p>No users have been added to the project yet!</p>
}

<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content" id="newTaskCreationBody">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3>New task</h3>
            </div>
            <div class="modal-body">

            </div>

        </div>
    </div>
</div>
@section scripts{
    <script>

        $(document).ready(function() {
            $("#UserAccessTable").DataTable();

        });

        function AddNewUser() {

            $("#newTaskCreationBody").load(
                '@Url.Action("AddUserToProject", "Projects", new {projectId = @Model.ProjectId})',
                function() {
                    $("#modal").modal("show");
                });


        };

        function RemoveUser(source) {
            var table = $("#UserAccessTable").DataTable();
            var id = source.getAttribute('data-user-id');
            var button = $(this);
            bootbox.confirm("Are you sure you want to remove the selected user?",
                function(result) {
                    if (result) {
                        $.ajax({
                            url: '/api/access?userId=' + id + '&projectId=+@Model.ProjectId+',

                            method: 'DELETE',

                            success: function() {

                                table.row(button.parents("tr").remove()).draw();
                                window.location.reload(true);

                            }
                        });
                    }
                });
        }
    </script>

}
