@using AgileDevelopmentPlatform.Models
@model AgileDevelopmentPlatform.ViewModel.NewTaskViewModel

@{
    ViewBag.Title = "title";
}

@using (Html.BeginForm("AddNewTask", "Projects"))
{
    <div class="modal-content">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h3>New task</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description)
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Priority)
                    @Html.DropDownListFor(m => m.Priority, new SelectList(Model.PriorityType, "Priority"), "Select the tasks priority", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Priority)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TaskDificulty)
                    @Html.DropDownListFor(m => m.TaskDificulty, new SelectList(Model.TaskDificultyList,"Id","Name"), "Select the tasks dificulty level", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.TaskDificulty)
                </div>
                @Html.HiddenFor(m => m.ProjectId)
                @Html.HiddenFor(m => m.TaskId)         
                @Html.HiddenFor(m=>m.PriorityType)
                @Html.AntiForgeryToken()
            </div>
            </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="#btnSubmit" class="btn btn-success">Submit</button>
        </div>
    </div>

}
